/* Reset some default styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

/* Define a base font size and family */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Style the main container */
.rabbit-admin-wrap {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Style the container within the main container */
.rabbit-admin-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the logo and calendar container using Flexbox */
.rabbit-logo-calendar {
    display: flex;
    justify-content: normal; /* Space elements horizontally */
    align-items: center; /* Center vertically */
}

/* Style the logo image */
.rabbit-logo {
    max-width: 200px;
    height: auto;
    display: block;
}

.rabbit-admin-calendar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    color: #be3455;
    border-radius: 29px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 700;
}

/* Add a calendar icon using a pseudo-element */
.rabbit-admin-calendar::before {
    content: "\1F4C5"; /* Unicode for calendar icon */
    font-size: 20px;
    margin-right: 5px; /* Add some spacing between icon and text */
}

/* Style the action box container */
.rabbit-action-box {
    text-align: left;
}

/* Style the list of actions */
.rabbit-action-box ul {
    list-style: none;
    padding: 0;
}

/* Style each action item */
.rabbit-action-box li {
    display: inline-block;
    margin: 0 10px;
}

/* Style the action icon */
.rabbit-action-icon img {
    max-width: 60px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Style the action title */
h3 {
    font-size: 18px;
    margin-top: 10px;
}

/* Clear floated elements */
.clear::after {
    content: "";
    display: table;
    clear: both;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    /* Adjust styles for screens smaller than 768px wide */
    body {
        font-size: 14px; /* Decrease font size */
    }

    .rabbit-logo {
        max-width: 300px; /* Adjust logo size */
    }

    h1 {
        font-size: 20px; /* Decrease heading font size */
    }

    .rabbit-action-box li {
        margin: 0 5px; /* Reduce spacing between action items */
    }
}

@media (max-width: 480px) {
    /* Adjust styles for screens smaller than 480px wide */
    .rabbit-action-box li {
        margin: 0 2px; /* Further reduce spacing between action items */
    }
}
